The global offshore wind turbine dataset was posted October 4, 2021 and provides "geocoded information on global offshore wind turbines (OWTs) derived from Sentinel-1 synthetic aperture radar (SAR) time-series images from 2015 to 2019. It identified 6,924 wind turbines comprising of more than 10 nations." This notebook extracts the data from the dataset's Shapefile and transforms it to create a racing bar chart. This script outputs an MP4 file, but a similar graphic was made using Flourish linked below.
Dataset: https://figshare.com/articles/dataset/Global_offshore_wind_farm_dataset/13280252/5
Flourish Graphic: https://public.flourish.studio/visualisation/7385349/

In [1]:
#requires installation of ffmpeg for bar chart output
import shapefile
import csv
import pandas as pd
import numpy as np
import bar_chart_race as bcr

path_to_shapefile = "C:\\Users\\mikeb\\OneDrive\Data Analyst\\DataSetsProjects\OffshoreWind\Global offshore wind turbines dataset_v1.3\\\GOWF_V1.3.shp"
path_to_csv = "C:\\Users\\mikeb\\OneDrive\\Data Analyst\\DataSetsProjects\\OffshoreWind\\OffshoreWind.csv"
path_to_mp4 = "C:\\Users\\mikeb\\OneDrive\\Data Analyst\\DataSetsProjects\\OffshoreWind\\OffshoreWind.mp4"

Download shapefiles from https://figshare.com/articles/dataset/Global_offshore_wind_farm_dataset/13280252/5

In [2]:
sf = shapefile.Reader(path_to_shapefile)

In [3]:
print( sf)

shapefile Reader
    6924 shapes (type 'POINT')
    6924 records (8 fields)

In [4]:
fields = sf.fields
print(fields)

[('DeletionFlag', 'C', 1, 0), ['centr_lat', 'F', 13, 11], ['centr_lon', 'F', 13, 11], ['continent', 'C', 50, 0], ['country', 'C', 50, 0], ['sea_area', 'C', 50, 0], ['occ_year', 'N', 10, 0], ['occ_month', 'N', 10, 0]]

Read the raw records in the shapefile metadata

In [5]:
print(sf.records())

[Record #0: [9.20576, 105.782, 'Asia', 'Vietnam', 'South China Sea', 2016, 3], Record #1: [9.20389, 105.783, 'Asia', 'Vietnam', 'South China Sea', 2016, 3], Record #2: [9.2066, 105.789, 'Asia', 'Vietnam', 'South China Sea', 2016, 2], Record #3: [9.20865, 105.788, 'Asia', 'Vietnam', 'South China Sea', 2016, 2], Record #4: [9.20774, 105.781, 'Asia', 'Vietnam', 'South China Sea', 2016, 1], Record #5: [9.20935, 105.796, 'Asia', 'Vietnam', 'South China Sea', 2016, 1], Record #6: [9.21071, 105.788, 'Asia', 'Vietnam', 'South China Sea', 2016, 4], Record #7: [9.21174, 105.78, 'Asia', 'Vietnam', 'South China Sea', 2016, 2], Record #8: [9.20978, 105.78, 'Asia', 'Vietnam', 'South China Sea', 2016, 2], Record #9: [9.2114, 105.795, 'Asia', 'Vietnam', 'South China Sea', 2015, 9], Record #10: [9.21348, 105.795, 'Asia', 'Vietnam', 'South China Sea', 2015, 9], Record #11: [9.21461, 105.802, 'Asia', 'Vietnam', 'South China Sea', 2015, 8], Record #12: [9.21253, 105.803, 'Asia', 'Vietnam', 'South China Sea', 2015, 8], Record #13: [9.21269, 105.787, 'Asia', 'Vietnam', 'South China Sea', 2015, 9], Record #14: [9.21465, 105.786, 'Asia', 'Vietnam', 'South China Sea', 2015, 9], Record #15: [9.21578, 105.778, 'Asia', 'Vietnam', 'South China Sea', 2015, 10], Record #16: [9.21375, 105.779, 'Asia', 'Vietnam', 'South China Sea', 2015, 10], Record #17: [9.21555, 105.794, 'Asia', 'Vietnam', 'South China Sea', 2015, 8], Record #18: [9.2176, 105.793, 'Asia', 'Vietnam', 'South China Sea', 2015, 8], Record #19: [9.21761, 105.809, 'Asia', 'Vietnam', 'South China Sea', 2015, 7], Record #20: [9.21567, 105.809, 'Asia', 'Vietnam', 'South China Sea', 2015, 7], Record #21: [9.21671, 105.802, 'Asia', 'Vietnam', 'South China Sea', 2016, 7], Record #22: [9.21662, 105.785, 'Asia', 'Vietnam', 'South China Sea', 2016, 4], Record #23: [9.21866, 105.785, 'Asia', 'Vietnam', 'South China Sea', 2016, 4], Record #24: [9.21789, 105.777, 'Asia', 'Vietnam', 'South China Sea', 2016, 6], Record #25: [9.21917, 105.815, 'Asia', 'Vietnam', 'South China Sea', 2015, 7], Record #26: [9.21957, 105.808, 'Asia', 'Vietnam', 'South China Sea', 2015, 6], Record #27: [9.22085, 105.8, 'Asia', 'Vietnam', 'South China Sea', 2016, 11], Record #28: [9.21883, 105.801, 'Asia', 'Vietnam', 'South China Sea', 2016, 11], Record #29: [9.21988, 105.792, 'Asia', 'Vietnam', 'South China Sea', 2015, 12], Record #30: [9.22069, 105.784, 'Asia', 'Vietnam', 'South China Sea', 2016, 9], Record #31: [9.22119, 105.814, 'Asia', 'Vietnam', 'South China Sea', 2015, 3], Record #32: [9.22315, 105.813, 'Asia', 'Vietnam', 'South China Sea', 2015, 3], Record #33: [9.22383, 105.806, 'Asia', 'Vietnam', 'South China Sea', 2015, 1], Record #34: [9.22182, 105.807, 'Asia', 'Vietnam', 'South China Sea', 2015, 1], Record #35: [9.22202, 105.791, 'Asia', 'Vietnam', 'South China Sea', 2015, 9], Record #36: [9.22412, 105.79, 'Asia', 'Vietnam', 'South China Sea', 2015, 9], Record #37: [9.22482, 105.798, 'Asia', 'Vietnam', 'South China Sea', 2015, 12], Record #38: [9.22288, 105.799, 'Asia', 'Vietnam', 'South China Sea', 2015, 12], Record #39: [9.22304, 105.82, 'Asia', 'Vietnam', 'South China Sea', 2016, 5], Record #40: [9.22503, 105.82, 'Asia', 'Vietnam', 'South China Sea', 2016, 5], Record #41: [9.22523, 105.813, 'Asia', 'Vietnam', 'South China Sea', 2015, 7], Record #42: [9.22681, 105.798, 'Asia', 'Vietnam', 'South China Sea', 2016, 5], Record #43: [9.22908, 105.818, 'Asia', 'Vietnam', 'South China Sea', 2015, 1],
...
 Record #6922: [65.6613, 24.5019, 'Europe', 'Finland', 'Gulf of Bothnia', 2015, 1], Record #6923: [65.6668, 24.5044, 'Europe', 'Finland', 'Gulf of Bothnia', 2015, 1]]

Begin transforming the data to match desired format

In [6]:
header = ['latitude', 'longitude', 'continent', 'country','sea_area','year','month']
df = pd.DataFrame(sf.records(),columns = header)
df['month']=df['month'].apply(lambda x: '{0:0>2}'.format(x))
print(df)

      latitude  longitude continent  country         sea_area  year month
0      9.20576   105.7820      Asia  Vietnam  South China Sea  2016    03
1      9.20389   105.7830      Asia  Vietnam  South China Sea  2016    03
2      9.20660   105.7890      Asia  Vietnam  South China Sea  2016    02
3      9.20865   105.7880      Asia  Vietnam  South China Sea  2016    02
4      9.20774   105.7810      Asia  Vietnam  South China Sea  2016    01
...        ...        ...       ...      ...              ...   ...   ...
6919  65.65020    24.5631    Europe  Finland  Gulf of Bothnia  2015    01
6920  65.65390    24.5205    Europe  Finland  Gulf of Bothnia  2015    01
6921  65.65650    24.5044    Europe  Finland  Gulf of Bothnia  2015    01
6922  65.66130    24.5019    Europe  Finland  Gulf of Bothnia  2015    01
6923  65.66680    24.5044    Europe  Finland  Gulf of Bothnia  2015    01

[6924 rows x 7 columns]

In [7]:
df['yearmonth'] = df.year.map(str) + "-" + df.month.map(str)

In [8]:
df.insert(0, 'ID', df.index)

In [9]:
df

,ID,latitude,longitude,continent,country,sea_area,year,month,yearmonth
0,0,9.20576,105.7820,Asia,Vietnam,South China Sea,2016,03,2016-03
1,1,9.20389,105.7830,Asia,Vietnam,South China Sea,2016,03,2016-03
2,2,9.20660,105.7890,Asia,Vietnam,South China Sea,2016,02,2016-02
3,3,9.20865,105.7880,Asia,Vietnam,South China Sea,2016,02,2016-02
4,4,9.20774,105.7810,Asia,Vietnam,South China Sea,2016,01,2016-01
...,...,...,...,...,...,...,...,...,...
6919,6919,65.65020,24.5631,Europe,Finland,Gulf of Bothnia,2015,01,2015-01
6920,6920,65.65390,24.5205,Europe,Finland,Gulf of Bothnia,2015,01,2015-01
6921,6921,65.65650,24.5044,Europe,Finland,Gulf of Bothnia,2015,01,2015-01
6922,6922,65.66130,24.5019,Europe,Finland,Gulf of Bothnia,2015,01,2015-01
6923,6923,65.66680,24.5044,Europe,Finland,Gulf of Bothnia,2015,01,2015-01

In [10]:
df = df.drop(columns = ['latitude','longitude','sea_area','year','month'])

In [11]:
df

        ID continent  country yearmonth
0        0      Asia  Vietnam   2016-03
1        1      Asia  Vietnam   2016-03
2        2      Asia  Vietnam   2016-02
3        3      Asia  Vietnam   2016-02
4        4      Asia  Vietnam   2016-01
...    ...       ...      ...       ...
6919  6919    Europe  Finland   2015-01
6920  6920    Europe  Finland   2015-01
6921  6921    Europe  Finland   2015-01
6922  6922    Europe  Finland   2015-01
6923  6923    Europe  Finland   2015-01

[6924 rows x 4 columns]

Take the tranformed table and make a pivot table from the records aggregating them to count the total number of observed wind turbines per month.

In [12]:
table = df.pivot_table(values='ID', index=['yearmonth'], columns=['country'], aggfunc='count')

In [13]:
table

country,Belgium,China,Denmark,Finland,Germany,Ireland,Japan,Netherlands,South Korea,Spain,Sweden,United Kingdom,United States,Vietnam
yearmonth,,,,,,,,,,,,,,
2015-01,105.0,188.0,439.0,9.0,605.0,5.0,2.0,31.0,NaN,NaN,63.0,1140.0,NaN,9.0
2015-02,3.0,14.0,5.0,NaN,11.0,NaN,NaN,11.0,NaN,NaN,NaN,32.0,NaN,NaN
2015-03,2.0,2.0,1.0,NaN,20.0,1.0,NaN,8.0,NaN,NaN,3.0,33.0,NaN,2.0
2015-04,2.0,2.0,2.0,NaN,19.0,NaN,NaN,10.0,NaN,NaN,1.0,25.0,NaN,NaN
2015-05,4.0,4.0,2.0,NaN,24.0,NaN,NaN,5.0,NaN,NaN,1.0,13.0,NaN,1.0
2015-06,5.0,4.0,4.0,NaN,19.0,NaN,NaN,5.0,NaN,NaN,NaN,14.0,NaN,1.0
2015-07,9.0,8.0,2.0,NaN,23.0,NaN,NaN,5.0,NaN,NaN,NaN,23.0,NaN,4.0
2015-08,2.0,5.0,4.0,NaN,16.0,NaN,NaN,7.0,NaN,NaN,NaN,10.0,NaN,4.0
2015-09,6.0,6.0,4.0,NaN,21.0,NaN,NaN,11.0,NaN,NaN,NaN,12.0,NaN,6.0
2015-10,3.0,9.0,7.0,NaN,34.0,NaN,NaN,15.0,NaN,NaN,1.0,14.0,NaN,2.0
2015-11,6.0,8.0,2.0,NaN,12.0,NaN,NaN,21.0,NaN,NaN,NaN,21.0,NaN,NaN
2015-12,11.0,7.0,1.0,NaN,30.0,NaN,NaN,40.0,NaN,NaN,NaN,22.0,NaN,3.0
2016-01,9.0,6.0,3.0,NaN,17.0,1.0,NaN,45.0,NaN,NaN,NaN,15.0,NaN,4.0
2016-02,14.0,5.0,3.0,NaN,20.0,NaN,1.0,27.0,NaN,NaN,NaN,18.0,NaN,5.0
2016-03,7.0,13.0,2.0,NaN,31.0,NaN,NaN,20.0,NaN,NaN,2.0,10.0,NaN,2.0
2016-04,5.0,19.0,4.0,NaN,40.0,NaN,NaN,9.0,NaN,NaN,NaN,17.0,NaN,6.0
2016-05,8.0,18.0,2.0,NaN,37.0,NaN,NaN,6.0,NaN,NaN,NaN,26.0,1.0,3.0
2016-06,3.0,21.0,2.0,NaN,31.0,NaN,NaN,3.0,NaN,NaN,NaN,29.0,3.0,1.0
2016-07,5.0,25.0,4.0,NaN,34.0,NaN,NaN,4.0,NaN,NaN,NaN,31.0,NaN,1.0
2016-08,15.0,19.0,4.0,NaN,44.0,NaN,NaN,1.0,NaN,NaN,NaN,23.0,1.0,1.0
2016-09,4.0,28.0,1.0,NaN,29.0,NaN,NaN,2.0,NaN,NaN,2.0,32.0,NaN,2.0
2016-10,2.0,12.0,6.0,NaN,25.0,NaN,NaN,NaN,NaN,NaN,NaN,41.0,NaN,1.0
2016-11,6.0,16.0,1.0,NaN,28.0,NaN,NaN,NaN,NaN,1.0,1.0,61.0,NaN,4.0
2016-12,4.0,16.0,1.0,NaN,19.0,NaN,NaN,NaN,NaN,NaN,NaN,44.0,NaN,NaN
2017-01,2.0,22.0,1.0,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,58.0,NaN,NaN
2017-02,3.0,19.0,1.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,1.0,45.0,NaN,NaN
2017-03,3.0,31.0,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,31.0,NaN,NaN
2017-04,2.0,30.0,2.0,2.0,15.0,NaN,NaN,1.0,NaN,NaN,NaN,22.0,NaN,NaN
2017-05,1.0,43.0,3.0,6.0,15.0,NaN,1.0,NaN,1.0,NaN,NaN,16.0,NaN,NaN
2017-06,4.0,38.0,2.0,1.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN,23.0,NaN,NaN
2017-07,4.0,49.0,1.0,NaN,26.0,NaN,NaN,NaN,NaN,NaN,NaN,25.0,NaN,NaN
2017-08,5.0,45.0,1.0,1.0,30.0,NaN,NaN,1.0,2.0,NaN,NaN,19.0,NaN,NaN
2017-09,8.0,41.0,6.0,NaN,31.0,NaN,NaN,NaN,NaN,NaN,NaN,30.0,NaN,NaN
2017-10,7.0,35.0,11.0,NaN,31.0,NaN,NaN,1.0,NaN,NaN,NaN,12.0,NaN,NaN
2017-11,14.0,37.0,17.0,NaN,23.0,NaN,NaN,1.0,1.0,1.0,NaN,17.0,NaN,NaN
2017-12,8.0,34.0,8.0,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,14.0,NaN,NaN
2018-01,11.0,39.0,1.0,NaN,18.0,NaN,NaN,1.0,2.0,NaN,NaN,24.0,NaN,NaN
2018-02,12.0,39.0,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,17.0,NaN,NaN
2018-03,4.0,49.0,NaN,NaN,8.0,NaN,NaN,NaN,1.0,NaN,NaN,16.0,NaN,NaN
2018-04,NaN,39.0,NaN,NaN,5.0,NaN,NaN,NaN,3.0,NaN,NaN,4.0,NaN,NaN
2018-05,1.0,39.0,NaN,NaN,4.0,NaN,NaN,NaN,1.0,NaN,NaN,3.0,NaN,NaN
2018-06,3.0,56.0,NaN,NaN,8.0,NaN,NaN,NaN,2.0,NaN,NaN,9.0,NaN,NaN
2018-07,4.0,49.0,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN
2018-08,4.0,54.0,NaN,NaN,16.0,NaN,NaN,NaN,2.0,NaN,NaN,9.0,NaN,NaN
2018-09,8.0,58.0,NaN,NaN,17.0,NaN,NaN,NaN,1.0,NaN,NaN,7.0,NaN,NaN
2018-10,NaN,57.0,NaN,NaN,12.0,NaN,NaN,1.0,1.0,NaN,NaN,8.0,NaN,NaN
2018-11,NaN,57.0,NaN,1.0,8.0,NaN,NaN,1.0,1.0,NaN,NaN,5.0,NaN,NaN
2018-12,NaN,46.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN
2019-01,1.0,34.0,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,2.0,NaN,NaN
2019-02,NaN,37.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,7.0,NaN,NaN
2019-03,NaN,45.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
2019-04,2.0,42.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-05,NaN,50.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-06,1.0,44.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
2019-07,NaN,48.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-08,NaN,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-09,NaN,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-10,NaN,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2019-12,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN

The values in the table represent the total number of NEW wind turbines found in the month. I need the running total and use the "cumsum" method to add the totals up left to right, and then fill in the zeroes.

In [14]:
table=table.cumsum(axis=0).ffill(axis=0).fillna(0)

In [15]:
table

country,Belgium,China,Denmark,Finland,Germany,Ireland,Japan,Netherlands,South Korea,Spain,Sweden,United Kingdom,United States,Vietnam
yearmonth,,,,,,,,,,,,,,
2015-01,105.0,188.0,439.0,9.0,605.0,5.0,2.0,31.0,0.0,0.0,63.0,1140.0,0.0,9.0
2015-02,108.0,202.0,444.0,9.0,616.0,5.0,2.0,42.0,0.0,0.0,63.0,1172.0,0.0,9.0
2015-03,110.0,204.0,445.0,9.0,636.0,6.0,2.0,50.0,0.0,0.0,66.0,1205.0,0.0,11.0
2015-04,112.0,206.0,447.0,9.0,655.0,6.0,2.0,60.0,0.0,0.0,67.0,1230.0,0.0,11.0
2015-05,116.0,210.0,449.0,9.0,679.0,6.0,2.0,65.0,0.0,0.0,68.0,1243.0,0.0,12.0
2015-06,121.0,214.0,453.0,9.0,698.0,6.0,2.0,70.0,0.0,0.0,68.0,1257.0,0.0,13.0
2015-07,130.0,222.0,455.0,9.0,721.0,6.0,2.0,75.0,0.0,0.0,68.0,1280.0,0.0,17.0
2015-08,132.0,227.0,459.0,9.0,737.0,6.0,2.0,82.0,0.0,0.0,68.0,1290.0,0.0,21.0
2015-09,138.0,233.0,463.0,9.0,758.0,6.0,2.0,93.0,0.0,0.0,68.0,1302.0,0.0,27.0
2015-10,141.0,242.0,470.0,9.0,792.0,6.0,2.0,108.0,0.0,0.0,69.0,1316.0,0.0,29.0
2015-11,147.0,250.0,472.0,9.0,804.0,6.0,2.0,129.0,0.0,0.0,69.0,1337.0,0.0,29.0
2015-12,158.0,257.0,473.0,9.0,834.0,6.0,2.0,169.0,0.0,0.0,69.0,1359.0,0.0,32.0
2016-01,167.0,263.0,476.0,9.0,851.0,7.0,2.0,214.0,0.0,0.0,69.0,1374.0,0.0,36.0
2016-02,181.0,268.0,479.0,9.0,871.0,7.0,3.0,241.0,0.0,0.0,69.0,1392.0,0.0,41.0
2016-03,188.0,281.0,481.0,9.0,902.0,7.0,3.0,261.0,0.0,0.0,71.0,1402.0,0.0,43.0
2016-04,193.0,300.0,485.0,9.0,942.0,7.0,3.0,270.0,0.0,0.0,71.0,1419.0,0.0,49.0
2016-05,201.0,318.0,487.0,9.0,979.0,7.0,3.0,276.0,0.0,0.0,71.0,1445.0,1.0,52.0
2016-06,204.0,339.0,489.0,9.0,1010.0,7.0,3.0,279.0,0.0,0.0,71.0,1474.0,4.0,53.0
2016-07,209.0,364.0,493.0,9.0,1044.0,7.0,3.0,283.0,0.0,0.0,71.0,1505.0,4.0,54.0
2016-08,224.0,383.0,497.0,9.0,1088.0,7.0,3.0,284.0,0.0,0.0,71.0,1528.0,5.0,55.0
2016-09,228.0,411.0,498.0,9.0,1117.0,7.0,3.0,286.0,0.0,0.0,73.0,1560.0,5.0,57.0
2016-10,230.0,423.0,504.0,9.0,1142.0,7.0,3.0,286.0,0.0,0.0,73.0,1601.0,5.0,58.0
2016-11,236.0,439.0,505.0,9.0,1170.0,7.0,3.0,286.0,0.0,1.0,74.0,1662.0,5.0,62.0
2016-12,240.0,455.0,506.0,9.0,1189.0,7.0,3.0,286.0,0.0,1.0,74.0,1706.0,5.0,62.0
2017-01,242.0,477.0,507.0,9.0,1198.0,7.0,3.0,286.0,0.0,1.0,74.0,1764.0,5.0,62.0
2017-02,245.0,496.0,508.0,9.0,1201.0,7.0,3.0,286.0,0.0,1.0,75.0,1809.0,5.0,62.0
2017-03,248.0,527.0,508.0,9.0,1211.0,7.0,3.0,286.0,0.0,1.0,75.0,1840.0,5.0,62.0
2017-04,250.0,557.0,510.0,11.0,1226.0,7.0,3.0,287.0,0.0,1.0,75.0,1862.0,5.0,62.0
2017-05,251.0,600.0,513.0,17.0,1241.0,7.0,4.0,287.0,1.0,1.0,75.0,1878.0,5.0,62.0
2017-06,255.0,638.0,515.0,18.0,1259.0,7.0,4.0,287.0,1.0,1.0,75.0,1901.0,5.0,62.0
2017-07,259.0,687.0,516.0,18.0,1285.0,7.0,4.0,287.0,1.0,1.0,75.0,1926.0,5.0,62.0
2017-08,264.0,732.0,517.0,19.0,1315.0,7.0,4.0,288.0,3.0,1.0,75.0,1945.0,5.0,62.0
2017-09,272.0,773.0,523.0,19.0,1346.0,7.0,4.0,288.0,3.0,1.0,75.0,1975.0,5.0,62.0
2017-10,279.0,808.0,534.0,19.0,1377.0,7.0,4.0,289.0,3.0,1.0,75.0,1987.0,5.0,62.0
2017-11,293.0,845.0,551.0,19.0,1400.0,7.0,4.0,290.0,4.0,2.0,75.0,2004.0,5.0,62.0
2017-12,301.0,879.0,559.0,19.0,1412.0,7.0,4.0,290.0,4.0,2.0,75.0,2018.0,5.0,62.0
2018-01,312.0,918.0,560.0,19.0,1430.0,7.0,4.0,291.0,6.0,2.0,75.0,2042.0,5.0,62.0
2018-02,324.0,957.0,560.0,19.0,1439.0,7.0,4.0,291.0,6.0,2.0,75.0,2059.0,5.0,62.0
2018-03,328.0,1006.0,560.0,19.0,1447.0,7.0,4.0,291.0,7.0,2.0,75.0,2075.0,5.0,62.0
2018-04,328.0,1045.0,560.0,19.0,1452.0,7.0,4.0,291.0,10.0,2.0,75.0,2079.0,5.0,62.0
2018-05,329.0,1084.0,560.0,19.0,1456.0,7.0,4.0,291.0,11.0,2.0,75.0,2082.0,5.0,62.0
2018-06,332.0,1140.0,560.0,19.0,1464.0,7.0,4.0,291.0,13.0,2.0,75.0,2091.0,5.0,62.0
2018-07,336.0,1189.0,560.0,19.0,1469.0,7.0,4.0,291.0,13.0,2.0,75.0,2096.0,5.0,62.0
2018-08,340.0,1243.0,560.0,19.0,1485.0,7.0,4.0,291.0,15.0,2.0,75.0,2105.0,5.0,62.0
2018-09,348.0,1301.0,560.0,19.0,1502.0,7.0,4.0,291.0,16.0,2.0,75.0,2112.0,5.0,62.0
2018-10,348.0,1358.0,560.0,19.0,1514.0,7.0,4.0,292.0,17.0,2.0,75.0,2120.0,5.0,62.0
2018-11,348.0,1415.0,560.0,20.0,1522.0,7.0,4.0,293.0,18.0,2.0,75.0,2125.0,5.0,62.0
2018-12,348.0,1461.0,560.0,20.0,1523.0,7.0,4.0,293.0,18.0,2.0,75.0,2129.0,5.0,62.0
2019-01,349.0,1495.0,560.0,20.0,1524.0,7.0,4.0,293.0,19.0,2.0,75.0,2131.0,5.0,62.0
2019-02,349.0,1532.0,560.0,20.0,1524.0,7.0,4.0,293.0,21.0,2.0,75.0,2138.0,5.0,62.0
2019-03,349.0,1577.0,560.0,20.0,1524.0,7.0,4.0,293.0,21.0,2.0,75.0,2140.0,5.0,62.0
2019-04,351.0,1619.0,560.0,20.0,1524.0,7.0,4.0,293.0,21.0,2.0,75.0,2140.0,5.0,62.0
2019-05,351.0,1669.0,560.0,20.0,1524.0,7.0,4.0,293.0,21.0,2.0,75.0,2140.0,5.0,62.0
2019-06,352.0,1713.0,560.0,20.0,1524.0,7.0,4.0,293.0,21.0,2.0,75.0,2142.0,5.0,62.0
2019-07,352.0,1761.0,560.0,20.0,1525.0,7.0,4.0,293.0,21.0,2.0,75.0,2142.0,5.0,62.0
2019-08,352.0,1790.0,560.0,20.0,1525.0,7.0,4.0,293.0,21.0,2.0,75.0,2142.0,5.0,62.0
2019-09,352.0,1811.0,560.0,20.0,1525.0,7.0,4.0,293.0,21.0,2.0,75.0,2142.0,5.0,62.0
2019-10,352.0,1843.0,560.0,20.0,1525.0,7.0,4.0,293.0,21.0,2.0,75.0,2143.0,5.0,62.0
2019-12,352.0,1853.0,560.0,20.0,1525.0,7.0,4.0,293.0,21.0,2.0,75.0,2145.0,5.0,62.0

In [16]:
table.to_csv(path_to_csv)

In [17]:
bcr.bar_chart_race(df = table,  
                   sort='desc',
                   title='Number of Global Offshore Wind Turbines 2015-2019',
                   dpi=600,
                   shared_fontdict={'family' : 'Arial', 'color' : '.1'},
                   filename = path_to_mp4)

C:\Users\mikeb\anaconda3\lib\site-packages\bar_chart_race\_make_chart.py:286: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_yticklabels(self.df_values.columns)
C:\Users\mikeb\anaconda3\lib\site-packages\bar_chart_race\_make_chart.py:287: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_xticklabels([max_val] * len(ax.get_xticks()))